body{
font-size: 16px;
font-family: 'Raleway', sans-serif;
text-align: center;
color: white;
}
.container-fluid
{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTMyjCiiDH2cDQszUKEeBNm2HeeDRrGzugJRlXXIm24F_dxuezu&usqp=CAU);
	background-color: yellow;

}
